
h1{
    color:dodgerblue;
    font-size: 100px;
    font-family: "Arial Black";
    padding: 10px;
}
video{
    height: 60%;
    width: 60%;
}
li{
    font-weight: bold;

}
i{
    font-weight: bold;
    color: indianred;
}
table{
    height: 60%;
    width: 60%;
}
#link{
    font-size: 25px;
}
#link2{
    font-size: 20px;
}